/* Import the font */
@font-face {
  font-family: 'EVA-Matisse_Standard';
  src: url('/EVA-Matisse_Standard.ttf') format('truetype');
}

/* Set the global font family */
body {
  font-family: 'EVA-Matisse_Standard', sans-serif;
}

/* Center the image on the left 2/5 of the screen and make it 1/10 of the screen size */
.image-container {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
}

.image-container img {
  width: 100%;
  height: 100%;
}
